@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/*--OMBRES--*/
/*--COEUR--*/
/*@mixin heart {
    .card_favorite {
        position: absolute;
        bottom: 30px;
        right: 10%;
        color: #787676;

        .heart_vide {
            position: absolute;
            font-size: 30px;
        }

        .heart_plein {
            font-size: 30px;
            color: transparent;
            background-clip: text;
            background-image: $gradient;
            opacity: 0;

            &:hover {
                opacity: 1;
            }
        }

        @media (min-width: $brkpt_desktop) {
            bottom: 18px;
            right: 3%;
        }
    }
}*/
/*--FOOTER--*/
/*-----Keyframes LOADER-----*/
@keyframes loader {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes textLoader {
  to {
    background-position: 200% center;
  }
}
@keyframes dot {
  0% {
    left: -50%;
  }
  75% {
    left: 50%;
  }
  100% {
    left: 80%;
  }
}
@keyframes dotBefore {
  0% {
    left: -50px;
  }
  50% {
    left: -12px;
  }
  75% {
    left: -50px;
  }
  100% {
    left: -50px;
  }
}
@keyframes dotAfter {
  0% {
    left: -100px;
  }
  50% {
    left: -24px;
  }
  75% {
    left: -100px;
  }
  100% {
    left: -100px;
  }
}
/*-----Keyframes CHECK-----*/
@keyframes checked {
  0% {
    width: 0px;
  }
  100% {
    width: 80px;
  }
}
/*-----Keyframe AFFICHAGE-----*/
@keyframes affichage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body {
  max-width: 768px;
  min-width: 320px;
  margin: auto;
}
@media (min-width: 768px) {
  body {
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  body {
    max-width: 1500px;
  }
}

/*-----HEADER-----*/
header {
  display: flex;
  justify-content: center;
  padding: 20px;
}
header a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: #000;
  text-decoration: none;
  margin-left: 3%;
}
header .logo {
  display: flex;
  justify-content: center;
  width: 100%;
}
header .logo img {
  width: 220px;
}

/*-----MAIN-----*/
main {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: rgb(240, 238, 238);
}
main img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  z-index: 0;
}
@media (min-width: 768px) {
  main img {
    height: 370px;
  }
}
@media (min-width: 992px) {
  main img {
    height: 500px;
  }
}
main .title {
  display: flex;
  justify-content: space-between;
  background: rgb(240, 238, 238);
  margin-top: -40px;
  z-index: 1;
  border-radius: 30px 30px 0 0;
  /*.favorite {
      margin-top: 45px;
      margin-right: 5%;
      color: #787676;

      .heart_vide {
          position: absolute;
          font-size: 25px;
      }

      .heart_plein {
          font-size: 25px;
          color: transparent;
          background-clip: text;
          background-image: $gradient;
          opacity: 0;

          &:hover {
              opacity: 1;
          }
      }
  }*/
}
main .title h1 {
  font-family: "Shrikhand";
  font-size: 27px;
  padding-top: 20px;
  padding-left: 5%;
}
main .title .favorite {
  position: absolute;
  font-size: 30px;
  top: 325px;
  right: 12%;
  cursor: pointer;
}
@media (min-width: 768px) {
  main .title .favorite {
    top: 448px;
  }
}
@media (min-width: 992px) {
  main .title .favorite {
    top: 578px;
  }
}
main .title .favorite .heart_vide {
  position: absolute;
  opacity: 1;
  color: grey;
  transition: opacity 600ms ease;
}
main .title .favorite .heart_vide:hover {
  opacity: 0;
}
main .title .favorite .heart_plein {
  position: absolute;
  background-image: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  opacity: 0;
  transition: transform 500ms ease;
}
main .title .favorite .heart_plein:hover {
  transform: scale(1);
  opacity: 1;
}
main .menu {
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  main .menu {
    flex-direction: row;
  }
}
@media (min-width: 992px) {
  main .menu section {
    width: 33%;
  }
}
main .menu .entrees {
  animation: affichage 1500ms both 0ms;
}
main .menu .plats {
  animation: affichage 1500ms both 500ms;
}
main .menu .desserts {
  animation: affichage 1500ms both 1000ms;
}
main .menu h2 {
  font-size: 17px;
  font-family: "Roboto";
  font-weight: 100;
  opacity: 0.6;
  margin-left: 7%;
  position: relative;
  text-transform: uppercase;
}
main .menu h2::after {
  content: "";
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  bottom: -5px;
}
main .menu .food {
  display: flex;
  flex-flow: row wrap;
}
@media (min-width: 992px) {
  main .menu .food {
    justify-content: space-around;
    margin-bottom: 20px;
  }
}
main .menu .food .btn {
  width: 85%;
  margin: 0 0 4% 5%;
  display: flex;
  justify-content: space-between;
  font-family: "Roboto";
  background: #fff;
  border-radius: 20px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.281);
}
@media (min-width: 768px) {
  main .menu .food .btn {
    width: 35%;
    min-width: 300px;
  }
}
@media (min-width: 992px) {
  main .menu .food .btn {
    width: 88%;
    margin-left: 1%;
  }
}
main .menu .food .btn .btn_body {
  display: flex;
  flex-direction: column;
  min-width: 75%;
  white-space: nowrap;
}
main .menu .food .btn .btn_body h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 10px;
}
main .menu .food .btn .btn_body p {
  margin-top: -14px;
  padding-left: 10px;
  opacity: 0.7;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .menu .food .btn .btn_price {
  display: flex;
  align-items: flex-end;
  margin-left: 30px;
  padding-right: 5px;
  transition: all 300ms ease-out;
}
main .menu .food .btn .btn_check {
  display: flex;
  justify-content: center;
  width: 0px;
  background: #99E2D0;
  border-radius: 0 20px 20px 0;
  transition: ease-in-out;
}
main .menu .food .btn .btn_check .check {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0px;
  color: #fff;
  transition: transform 400ms;
}
main .menu .food .btn:hover .btn_body {
  min-width: 60%;
}
main .menu .food .btn:hover .btn_price {
  transition: 0.5s;
}
main .menu .food .btn:hover .btn_check {
  transition: 0.5s ease-in-out;
  width: 80px;
}
main .menu .food .btn:hover .check {
  transform: rotate(360deg);
  font-size: 30px;
}
main .btn_cmd {
  display: flex;
  justify-content: center;
}
main .btn_cmd a {
  text-decoration: none;
  color: #fff;
}
main .btn_cmd nav {
  display: flex;
  justify-content: center;
  width: 150px;
  font-family: "Roboto";
  font-size: 18px;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
  padding: 18px 28px 18px 28px;
  margin-top: 30px;
  margin-bottom: 50px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.281);
}
main .btn_cmd nav:hover {
  transform: scale(1.1);
  filter: brightness(1.1);
}

/*-----FOOTER-----*/
footer {
  background: #323131;
  padding-bottom: 10px;
  padding-left: 20px;
}
footer h4 {
  color: #fff;
  font-size: 20px;
  font-family: "Shrikhand";
  font-weight: 400;
  margin-top: 0;
  padding-top: 25px;
}
@media (min-width: 768px) {
  footer h4 {
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
}
footer ul {
  list-style-type: none;
  padding-inline-start: 0;
}
@media (min-width: 768px) {
  footer ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    margin-bottom: 40px;
  }
}
footer li {
  font-family: "Roboto";
  padding-bottom: 10px;
}
footer li:hover {
  transform: scale(1.06);
}
footer li a {
  text-decoration: none;
  color: #fff;
}
footer li a:hover {
  color: #c9abee;
}
footer .iconFooter {
  font-size: 12px;
  margin-right: 7px;
}

/*# sourceMappingURL=menu.css.map */
