@mixin mobile {
    max-width: 768px;
    min-width: 320px;
    margin: auto;
}

                /*--OMBRES--*/
@mixin shadow {
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.281);
}

                /*--COEUR--*/
@mixin heart {
    .card_favorite {
        position: absolute;
        font-size: 30px;
        bottom: 50px;
        left: 85%;
        cursor: pointer;

        @media (min-width: $brkpt_desktop) {
            bottom: 60px;
        }
      
        .heart_vide {
            position: absolute;
            opacity: 1;
            color: grey;
            transition: opacity 600ms ease;

            &:hover {
                opacity: 0;
            }
        }
        .heart_plein {
            position: absolute;
            background-image: $gradient;
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            opacity: 0;
            transition: transform 500ms ease;
      
            &:hover {
                transform: scale(1);
                opacity: 1;
            }
        }
    }
}
                   


                    /*--FOOTER--*/
@mixin footer {
    footer {
        background: #323131;
        padding-bottom: 10px;
        padding-left: 20px;
    
        h4 {
            color: #fff;
            font-size: 20px;
            font-family: $fontTitles;
            font-weight: 400;
            margin-top: 0;
            padding-top: 25px;

            @media (min-width: $brkpt_tablet) {
                font-size: 30px;
                display: flex;
                justify-content: center;
                margin-bottom: 40px;
            }
        }
    
        ul {
            list-style-type: none;
            padding-inline-start: 0;

            @media (min-width: $brkpt_tablet) {
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-flow: row wrap;
                margin-bottom: 40px;
            }
        }
    
        li {
            font-family: $fontTxt;
            padding-bottom: 10px;
        
            &:hover {
                transform: scale(1.06);
            } 
           
    
            a {
                text-decoration: none;
                color: #fff;

                &:hover {
                    color: lighten($color: $clrPrimary, $amount: 20);
                }
            }
        }

        .iconFooter {
            font-size: 12px;
            margin-right: 7px;
        }
    }
}