$brkpt_desktop: 992px;
$brkpt_tablet: 768px;

$clrPrimary:#9356DC;
$clrSecondary: #FF79DA;
$clrTerciary: #99E2D0;
$clrForm: #eaeaea;
$clrBackground: rgba(240, 238, 238, 1);

$gradient: linear-gradient($clrSecondary, $clrPrimary);

$fontTitles: 'Shrikhand';
$fontTxt: 'Roboto';